@font-face {
    font-family: 'Butler';
    src: local('Butler'),
        url('./fonts/woff2/Butler.woff2') format('woff2'),
        url('./fonts/woff/Butler.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.header_h1 {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 87px;
    text-align: center;
    line-height: 104px; 
}
.header_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.section1_h3 {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 87px;
    line-height: 104px; 
}
.section1_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.section1_blockquote {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 38px;
}
.section1_h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.section2_h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
}
.section2_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.section3_h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.section3-nav_span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-transform:capitalize;
}
.section3-nav_a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.section3-div_p {
    font-family: 'Butler';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
.section4_h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.section4_h3 {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 92px;
    line-height: 110px;
}
.section4-div_li {
    font-family: 'Butler', serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.21;
}
