@font-face {
    font-family: 'Butler';
    src: local('Butler'),
        url('./fonts/woff2/Butler.woff2') format('woff2'),
        url('./fonts/woff/Butler.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    margin: 0;
}
.header {
    margin-top: 0px;
    margin-bottom: 135px;
}
.header__logo {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    width: 2.36%;
}
.header-div {
    position: relative;
    margin: 0 auto;
    padding: 137px 254px;
    height: 630px;
    width: 73.96%;
    background-image: url(./img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-div__content {
    padding-top: 137px;
    padding-bottom: 90px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: white;    
    width: 52.3%;
    text-align: center;
}
.header_h1 {
    margin-bottom: 18px;
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 87px;
    line-height: 104px; 
}
.header_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.biography {
    position: relative;
    margin: auto;
    padding-left: 134px;
    display: flex;
    margin-bottom: 169px;
    width: 85.07%; 
    height: 840px;
    justify-content: space-between;
    gap: 147px;
    /* background-color: green; */
}
.biography__div__img {
    height: 100%;
    width: 47.06%;
}
.biography__hero {
    width: 52.94%;
    height: 70.48%;
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: flex-start;
    gap: 54px;
}
.biography__name {
    width: 88%;
    height:44.09%;
    /* т.к. самый большой текст я думаю, что при сжатии он должен сжиматься первым */
    flex-shrink: 2;
}
.biography__skills {
    width: 100%;
    height: 10.14%;
}
.biography__blockquote {
    width:87.37%;
    height:31.93%;
    flex-shrink: 1;
}
.section1_h3 {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 87px;
    line-height: 104px; 
}
.section1_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.section1_blockquote {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 38px;
}
.biography__title {
    margin: 0 auto;
    position: absolute;
    top: 730px;
    left: 1549px;
    width: 7.57%;
}
.biography__title_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    transform: rotate(-90deg);
}
.section2_h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
}
.section2_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.section3_h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.section3-nav_span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-transform:capitalize;
}
.section3-nav_a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
.section3-div_p {
    font-family: 'Butler';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}
.section4_h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
.section4_h3 {
    font-family: 'Butler', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 92px;
    line-height: 110px;
}
.section4-div_li {
    font-family: 'Butler', serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.21;
}
